@model IEnumerable<ProjectTaskManagement.Models.DataAccess.Entity.CustomerDemand>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-light table-borderless">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Project.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Demand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DemandType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Demand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DemandType)
            </td>
            <td>
                @Html.ActionLink("İşleme Koy","CreateTask", new { id = item.CustomerDemandId }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.CustomerDemandId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CustomerDemandId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CustomerDemandId })
            </td>
        </tr>
    }

</table>
