@model IEnumerable<ProjectTaskManagement.Models.DataAccess.Entity.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-light table-borderless">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlannedStartingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlannedEndingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndingDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlannedStartingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlannedEndingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndingDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProjectId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProjectId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProjectId })
        </td>
    </tr>
}

</table>
